In [70]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
import utils

In [78]:
location = 'A'
x_train, x_train_estimated, x_test = utils.preprocess_category(location)
x_train.drop(["time"], axis=1, inplace=True)
x_train_estimated.drop(["time"], axis=1, inplace=True)

x_train['date_forecast'] = pd.to_datetime(x_train['date_forecast'])
x_train_estimated['date_forecast'] = pd.to_datetime(x_train_estimated['date_forecast'])

x_test.fillna(0, inplace=True)

x_train['ID'] = pd.factorize(x_train['date_forecast'].dt.date)[0]

last_id_x_train = x_train['ID'].max() + 1
x_train_estimated['ID'] = pd.factorize(x_train_estimated['date_forecast'].dt.date)[0] + last_id_x_train

x_test['ID'] = pd.factorize(x_test['date_forecast'].dt.date)[0] + last_id_x_train

x_train

Total data points: 34085
Data points to be removed: 0

/cluster/home/hansal/ml/utils.py:135: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  estimated_df = estimated_df.resample('H').mean()
/cluster/home/hansal/ml/utils.py:144: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_df = test_df.resample('H').mean()

,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,date_forecast,dew_or_rime:idx,dew_point_2m:K,diffuse_rad:W,...,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms,ID
0,7.700,1.22825,1728.949951,0.000000,0.00,1728.949951,2019-06-02 22:00:00,0.0,280.299988,0.000,...,-3.774250,0.0,286.225006,100.000000,40386.476562,3.600,-3.575,-0.500,0.0,0
1,7.700,1.22350,1689.824951,0.000000,0.00,1689.824951,2019-06-02 23:00:00,0.0,280.299988,0.000,...,-4.357250,0.0,286.899994,100.000000,33770.648438,3.350,-3.350,0.275,0.0,0
2,7.875,1.21975,1563.224976,0.000000,0.00,1563.224976,2019-06-03 00:00:00,0.0,280.649994,0.000,...,-3.309500,0.0,286.950012,100.000000,13595.500000,3.050,-2.950,0.750,0.0,1
3,8.425,1.21800,1283.425049,208.649994,0.75,1283.425049,2019-06-03 01:00:00,0.0,281.674988,0.300,...,-0.822500,0.0,286.750000,100.000000,2321.850098,2.725,-2.600,0.875,0.0,1
4,8.950,1.21800,1003.500000,32468.150391,23.10,1003.500000,2019-06-03 02:00:00,0.0,282.500000,11.975,...,3.051250,0.0,286.450012,99.224998,11634.799805,2.550,-2.350,0.925,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29662,5.800,1.28050,1291.500000,0.000000,0.00,1192.550049,2022-10-20 20:00:00,0.0,275.799988,0.000,...,-29.704250,0.0,278.250000,47.050003,40105.472656,1.925,0.475,1.850,0.0,1236
29663,5.575,1.28400,0.000000,0.000000,0.00,686.900024,2022-10-20 21:00:00,0.0,275.200012,0.000,...,-33.860748,0.0,277.850006,19.500000,39001.398438,1.675,0.250,1.675,0.0,1236
29664,5.350,1.28700,0.000000,0.000000,0.00,149.500000,2022-10-20 22:00:00,0.0,274.600006,0.000,...,-36.270000,0.0,277.475006,9.700000,35336.726562,1.400,0.050,1.400,0.0,1236
29665,5.200,1.29050,0.000000,0.000000,0.00,0.000000,2022-10-20 23:00:00,0.0,274.174988,0.000,...,-36.614998,0.0,277.149994,4.525000,27164.625000,1.300,-0.175,1.300,0.0,1236
29666,5.000,1.29200,0.000000,0.000000,0.00,0.000000,2022-10-21 00:00:00,0.0,273.675018,0.000,...,-35.368500,0.0,276.700012,1.975000,29933.000000,1.400,-0.700,1.175,0.0,1237

In [79]:
train_data = TimeSeriesDataFrame.from_data_frame(
    x_train,
    id_column="ID",
    timestamp_column="date_forecast"
)

ts_lengths = train_data.num_timesteps_per_item()
items_to_keep = ts_lengths.index[ts_lengths >= 3]
train_data = train_data.query("item_id in @items_to_keep")

train_data = train_data.to_regular_index(freq="H")
print(f"Data has frequency '{train_data.freq}'")

Data has frequency 'H'

In [80]:
tuning_data = TimeSeriesDataFrame.from_data_frame(
    x_train_estimated,
    id_column="ID",
    timestamp_column="date_forecast"
)

thirty_percent_index = int(len(tuning_data) * 0.3)
tuning_data = tuning_data.iloc[:thirty_percent_index]

ts_lengths = tuning_data.num_timesteps_per_item()
items_to_keep = ts_lengths.index[ts_lengths >= 3]
tuning_data = tuning_data.query("item_id in @items_to_keep")

tuning_data = tuning_data.to_regular_index(freq="H")
print(f"Data has frequency '{tuning_data.freq}'")
tuning_data

Data has frequency 'H'

                             absolute_humidity_2m:gm3  air_density_2m:kgm3  \
item_id timestamp
1239    2022-10-29 00:00:00                     8.150              1.22975
        2022-10-29 01:00:00                     8.200              1.22850
        2022-10-29 02:00:00                     8.375              1.22700
        2022-10-29 03:00:00                     8.550              1.22325
        2022-10-29 04:00:00                     8.750              1.22100
...                                               ...                  ...
1293    2022-12-22 22:00:00                     2.900              1.30200
        2022-12-22 23:00:00                     2.800              1.30300
1294    2022-12-23 00:00:00                     2.700              1.30500
        2022-12-23 01:00:00                     2.700              1.30500
        2022-12-23 02:00:00                     2.700              1.30425

                             ceiling_height_agl:m  clear_sky_energy_1h:J  \
item_id timestamp
1239    2022-10-29 00:00:00           1882.000000                    0.0
        2022-10-29 01:00:00           1622.400024                    0.0
        2022-10-29 02:00:00           1322.275024                    0.0
        2022-10-29 03:00:00           1039.099976                    0.0
        2022-10-29 04:00:00            854.599976                    0.0
...                                           ...                    ...
1293    2022-12-22 22:00:00             28.750000                    0.0
        2022-12-22 23:00:00            253.649994                    0.0
1294    2022-12-23 00:00:00           2049.574951                    0.0
        2022-12-23 01:00:00           2572.500000                    0.0
        2022-12-23 02:00:00           3869.899902                    0.0

                             clear_sky_rad:W  cloud_base_agl:m  \
item_id timestamp
1239    2022-10-29 00:00:00              0.0       1675.050049
        2022-10-29 01:00:00              0.0       1547.550049
        2022-10-29 02:00:00              0.0       1053.724976
        2022-10-29 03:00:00              0.0        703.250000
        2022-10-29 04:00:00              0.0        661.049988
...                                      ...               ...
1293    2022-12-22 22:00:00              0.0         39.099998
        2022-12-22 23:00:00              0.0         38.224998
1294    2022-12-23 00:00:00              0.0        377.450012
        2022-12-23 01:00:00              0.0        153.800003
        2022-12-23 02:00:00              0.0        662.200012

                             dew_or_rime:idx  dew_point_2m:K  diffuse_rad:W  \
item_id timestamp
1239    2022-10-29 00:00:00             1.00      280.924988            0.0
        2022-10-29 01:00:00             1.00      281.049988            0.0
        2022-10-29 02:00:00             1.00      281.349976            0.0
        2022-10-29 03:00:00             0.75      281.700012            0.0
        2022-10-29 04:00:00             0.00      282.100006            0.0
...                                      ...             ...            ...
1293    2022-12-22 22:00:00             0.00      266.674988            0.0
        2022-12-22 23:00:00             0.00      266.500000            0.0
1294    2022-12-23 00:00:00             0.00      265.899994            0.0
        2022-12-23 01:00:00             0.00      265.799988            0.0
        2022-12-23 02:00:00             0.00      265.799988            0.0

                             diffuse_rad_1h:J  ...  sun_azimuth:d  \
item_id timestamp                              ...
1239    2022-10-29 00:00:00               0.0  ...      24.241001
        2022-10-29 01:00:00               0.0  ...      41.830750
        2022-10-29 02:00:00               0.0  ...      57.993248
        2022-10-29 03:00:00               0.0  ...      72.852501
        2022-10-29 04:00:00               0.0  ...      86.767250
...                                       ...  ...            ...
1293    2022-12-22 22:00:00               0.0  ...     341.246521
        2022-12-22 23:00:00               0.0  ...     182.444748
1294    2022-12-23 00:00:00               0.0  ...      21.943251
        2022-12-23 01:00:00               0.0  ...      41.492249
        2022-12-23 02:00:00               0.0  ...      58.910248

                             sun_elevation:d  super_cooled_liquid_water:kgm2  \
item_id timestamp
1239    2022-10-29 00:00:00       -38.040501                           0.200
        2022-10-29 01:00:00       -34.390499                           0.250
        2022-10-29 02:00:00       -29.268749                           0.250
        2022-10-29 03:00:00       -23.180500                           0.350
        2022-10-29 04:00:00       -16.590750                           0.225
...                                      ...                             ...
1293    2022-12-22 22:00:00       -48.939751                           0.000
        2022-12-22 23:00:00       -49.889500                           0.000
1294    2022-12-23 00:00:00       -48.574501                           0.000
        2022-12-23 01:00:00       -45.054749                           0.000
        2022-12-23 02:00:00       -39.912498                           0.000

                             t_1000hPa:K  total_cloud_cover:p  visibility:m  \
item_id timestamp
1239    2022-10-29 00:00:00   283.875000           100.000000   3240.425049
        2022-10-29 01:00:00   284.350006           100.000000   3243.500000
        2022-10-29 02:00:00   284.524994           100.000000   2528.449951
        2022-10-29 03:00:00   284.649994           100.000000   2222.024902
        2022-10-29 04:00:00   284.450012           100.000000   2160.274902
...                                  ...                  ...           ...
1293    2022-12-22 22:00:00   271.000000            94.375000  10023.674805
        2022-12-22 23:00:00   270.225006            96.300003   9881.049805
1294    2022-12-23 00:00:00   270.399994            98.324997  11071.375000
        2022-12-23 01:00:00   270.549988            98.275002   8034.725098
        2022-12-23 02:00:00   270.750000            96.500000  12402.200195

                             wind_speed_10m:ms  wind_speed_u_10m:ms  \
item_id timestamp
1239    2022-10-29 00:00:00              1.500                1.050
        2022-10-29 01:00:00              1.575                1.000
        2022-10-29 02:00:00              2.200                1.825
        2022-10-29 03:00:00              4.550                4.250
        2022-10-29 04:00:00              6.875                6.725
...                                        ...                  ...
1293    2022-12-22 22:00:00              2.725                1.425
        2022-12-22 23:00:00              2.800                1.400
1294    2022-12-23 00:00:00              2.400                1.150
        2022-12-23 01:00:00              2.525                0.950
        2022-12-23 02:00:00              2.600                0.825

                             wind_speed_v_10m:ms  wind_speed_w_1000hPa:ms
item_id timestamp
1239    2022-10-29 00:00:00                0.975                      0.0
        2022-10-29 01:00:00                1.200                      0.0
        2022-10-29 02:00:00                1.175                      0.0
        2022-10-29 03:00:00                1.625                      0.0
        2022-10-29 04:00:00                0.925                      0.0
...                                          ...                      ...
1293    2022-12-22 22:00:00                2.325                      0.0
        2022-12-22 23:00:00                2.400                      0.0
1294    2022-12-23 00:00:00                2.150                      0.0
        2022-12-23 01:00:00                2.350                      0.0
        2022-12-23 02:00:00                2.475                      0.0

[1323 rows x 82 columns]

In [81]:
test_data = TimeSeriesDataFrame.from_data_frame(
    x_test,
    id_column="ID",
    timestamp_column="date_forecast"
)

ts_lengths = test_data.num_timesteps_per_item()
items_to_keep = ts_lengths.index[ts_lengths >= 3]
test_data = test_data.query("item_id in @items_to_keep")

test_data = test_data.to_regular_index(freq="H")
print(f"Data has frequency '{test_data.freq}'")
test_data

Data has frequency 'H'

                             absolute_humidity_2m:gm3  air_density_2m:kgm3  \
item_id timestamp
1238    2023-05-01 00:00:00                     4.325              1.28675
        2023-05-01 01:00:00                     4.275              1.28600
        2023-05-01 02:00:00                     4.150              1.28375
        2023-05-01 03:00:00                     4.025              1.28200
        2023-05-01 04:00:00                     3.900              1.28100
...                                               ...                  ...
1301    2023-07-03 19:00:00                     8.350              1.19725
        2023-07-03 20:00:00                     8.525              1.20050
        2023-07-03 21:00:00                     8.825              1.20450
        2023-07-03 22:00:00                     9.025              1.20700
        2023-07-03 23:00:00                     9.050              1.20775

                             ceiling_height_agl:m  clear_sky_energy_1h:J  \
item_id timestamp
1238    2023-05-01 00:00:00            912.700012               0.000000
        2023-05-01 01:00:00           1482.099976               0.000000
        2023-05-01 02:00:00           1791.300049               0.000000
        2023-05-01 03:00:00           2312.875000           10124.424805
        2023-05-01 04:00:00           2198.299805          141748.593750
...                                           ...                    ...
1301    2023-07-03 19:00:00           3638.899902          477093.187500
        2023-07-03 20:00:00           3552.100098          184335.671875
        2023-07-03 21:00:00           2315.000000           37429.328125
        2023-07-03 22:00:00           2202.800049             360.049988
        2023-07-03 23:00:00           2015.675049               0.000000

                             clear_sky_rad:W  cloud_base_agl:m  \
item_id timestamp
1238    2023-05-01 00:00:00         0.000000       1061.550049
        2023-05-01 01:00:00         0.000000       1075.100098
        2023-05-01 02:00:00         0.000000       1200.400024
        2023-05-01 03:00:00        11.675000       1179.849976
        2023-05-01 04:00:00        76.875000        920.049988
...                                      ...               ...
1301    2023-07-03 19:00:00        85.099998       2013.750000
        2023-07-03 20:00:00        24.799999       1610.900024
        2023-07-03 21:00:00         1.275000       1622.800049
        2023-07-03 22:00:00         0.000000       1767.550049
        2023-07-03 23:00:00         0.000000       1438.449951

                             dew_or_rime:idx  dew_point_2m:K  diffuse_rad:W  \
item_id timestamp
1238    2023-05-01 00:00:00              0.0      271.650024       0.000000
        2023-05-01 01:00:00              0.0      271.450012       0.000000
        2023-05-01 02:00:00              0.0      271.049988       0.000000
        2023-05-01 03:00:00              0.0      270.649994       9.375000
        2023-05-01 04:00:00              0.0      270.375000      47.400002
...                                      ...             ...            ...
1301    2023-07-03 19:00:00              0.0      281.575012      33.625000
        2023-07-03 20:00:00              0.0      281.850006      14.325000
        2023-07-03 21:00:00              0.0      282.325012       1.300000
        2023-07-03 22:00:00              0.0      282.675018       0.000000
        2023-07-03 23:00:00              0.0      282.675018       0.000000

                             diffuse_rad_1h:J  ...  sun_azimuth:d  \
item_id timestamp                              ...
1238    2023-05-01 00:00:00          0.000000  ...      16.026501
        2023-05-01 01:00:00          0.000000  ...      30.497250
        2023-05-01 02:00:00          0.000000  ...      44.517250
        2023-05-01 03:00:00      16845.226562  ...      58.083000
        2023-05-01 04:00:00     102209.703125  ...      71.341003
...                                       ...  ...            ...
1301    2023-07-03 19:00:00     168774.546875  ...     306.687012
        2023-07-03 20:00:00      86321.125000  ...     319.704010
        2023-07-03 21:00:00      28169.150391  ...     333.040009
        2023-07-03 22:00:00       2350.725098  ...     346.686005
        2023-07-03 23:00:00          0.000000  ...     180.518494

                             sun_elevation:d  super_cooled_liquid_water:kgm2  \
item_id timestamp
1238    2023-05-01 00:00:00        -10.54100                           0.000
        2023-05-01 01:00:00         -7.89450                           0.000
        2023-05-01 02:00:00         -3.81550                           0.000
        2023-05-01 03:00:00          1.41250                           0.000
        2023-05-01 04:00:00          7.46850                           0.000
...                                      ...                             ...
1301    2023-07-03 19:00:00          8.15300                           0.100
        2023-07-03 20:00:00          3.26800                           0.000
        2023-07-03 21:00:00         -0.44325                           0.000
        2023-07-03 22:00:00         -2.75050                           0.075
        2023-07-03 23:00:00         -3.49750                           0.125

                             t_1000hPa:K  total_cloud_cover:p  visibility:m  \
item_id timestamp
1238    2023-05-01 00:00:00   273.799988            74.949997  29907.500000
        2023-05-01 01:00:00   273.799988            77.474998  29519.074219
        2023-05-01 02:00:00   273.849976            88.099998  31009.125000
        2023-05-01 03:00:00   273.899994            68.599998  34552.500000
        2023-05-01 04:00:00   273.924988            66.300003  35483.875000
...                                  ...                  ...           ...
1301    2023-07-03 19:00:00   287.024994            86.150002  44056.375000
        2023-07-03 20:00:00   286.600006            75.324997  44017.175781
        2023-07-03 21:00:00   286.100006            76.849998  43302.050781
        2023-07-03 22:00:00   285.549988            98.324997  40505.851562
        2023-07-03 23:00:00   285.250000           100.000000  39665.523438

                             wind_speed_10m:ms  wind_speed_u_10m:ms  \
item_id timestamp
1238    2023-05-01 00:00:00              3.950                2.100
        2023-05-01 01:00:00              3.825                1.925
        2023-05-01 02:00:00              3.650                1.750
        2023-05-01 03:00:00              3.500                1.450
        2023-05-01 04:00:00              3.325                1.300
...                                        ...                  ...
1301    2023-07-03 19:00:00              2.450                2.075
        2023-07-03 20:00:00              2.450                2.100
        2023-07-03 21:00:00              2.575                2.150
        2023-07-03 22:00:00              2.250                1.800
        2023-07-03 23:00:00              1.975                1.600

                             wind_speed_v_10m:ms  wind_speed_w_1000hPa:ms
item_id timestamp
1238    2023-05-01 00:00:00                3.350                      0.0
        2023-05-01 01:00:00                3.300                      0.0
        2023-05-01 02:00:00                3.200                      0.0
        2023-05-01 03:00:00                3.150                      0.0
        2023-05-01 04:00:00                3.050                      0.0
...                                          ...                      ...
1301    2023-07-03 19:00:00               -1.350                      0.0
        2023-07-03 20:00:00               -1.250                      0.0
        2023-07-03 21:00:00               -1.400                      0.0
        2023-07-03 22:00:00               -1.350                      0.0
        2023-07-03 23:00:00               -1.175                      0.0

[1536 rows x 81 columns]

In [82]:
predictor = TimeSeriesPredictor(
    prediction_length=24,
    path="new_testing",
    target="pv_measurement",
    eval_metric="RMSE",
    known_covariates_names=train_data.drop('pv_measurement', axis=1).columns.tolist()
)

In [83]:
predictor.fit(
    train_data,
    presets="high_quality",
    time_limit=30,
    num_val_windows= 3,
    tuning_data=tuning_data
)

================ TimeSeriesPredictor ================
TimeSeriesPredictor.fit() called
Setting presets to: high_quality
Fitting with arguments:
{'enable_ensemble': True,
 'evaluation_metric': 'RMSE',
 'excluded_model_types': None,
 'hyperparameter_tune_kwargs': None,
 'hyperparameters': 'high_quality',
 'num_val_windows': 3,
 'prediction_length': 24,
 'random_seed': None,
 'target': 'pv_measurement',
 'time_limit': 30,
 'verbosity': 2}
Provided training data set with 29664 rows, 1236 items (item = single time series). Average time series length is 24.0. Data frequency is 'H'.
Provided tuning data set with 1323 rows, 56 items. Average time series length is 23.6.
Multi-window backtesting is disabled (setting num_val_windows = 0)

It is recommended that all time series in train_data have length >= prediction_length + 1 (at least 25). Otherwise the predictor may not work as expected.
Please reduce prediction_length or provide longer time series as train_data.
=====================================================
AutoGluon will save models to new_testing/
AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being 'higher is better'. The reported score can be multiplied by -1 to get the metric value.

Provided dataset contains following columns:
	target:           'pv_measurement'
	known covariates: ['absolute_humidity_2m:gm3', 'air_density_2m:kgm3', 'ceiling_height_agl:m', 'clear_sky_energy_1h:J', 'clear_sky_rad:W', 'cloud_base_agl:m', 'dew_or_rime:idx', 'dew_point_2m:K', 'diffuse_rad:W', 'diffuse_rad_1h:J', 'direct_rad:W', 'direct_rad_1h:J', 'effective_cloud_cover:p', 'elevation:m', 'fresh_snow_12h:cm', 'fresh_snow_1h:cm', 'fresh_snow_24h:cm', 'fresh_snow_3h:cm', 'fresh_snow_6h:cm', 'hour_0', 'hour_1', 'hour_10', 'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19', 'hour_2', 'hour_20', 'hour_21', 'hour_22', 'hour_23', 'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'is_day:idx', 'is_in_shadow:idx', 'month_1', 'month_10', 'month_11', 'month_12', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'msl_pressure:hPa', 'precip_5min:mm', 'precip_type_5min:idx', 'pressure_100m:hPa', 'pressure_50m:hPa', 'prob_rime:p', 'rain_water:kgm2', 'relative_humidity_1000hPa:p', 'sfc_pressure:hPa', 'snow_density:kgm3', 'snow_depth:cm', 'snow_drift:idx', 'snow_melt_10min:mm', 'snow_water:kgm2', 'sun_azimuth:d', 'sun_elevation:d', 'super_cooled_liquid_water:kgm2', 't_1000hPa:K', 'total_cloud_cover:p', 'visibility:m', 'wind_speed_10m:ms', 'wind_speed_u_10m:ms', 'wind_speed_v_10m:ms', 'wind_speed_w_1000hPa:ms']

Starting training. Start time is 2023-11-07 15:44:41
Models that will be trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR', 'TemporalFusionTransformer', 'PatchTST', 'DirectTabular', 'AutoARIMA']
Training timeseries model Naive. Training for up to 29.95s of the 29.95s of remaining time.
	Warning: Exception caused Naive to fail during training... Skipping this model.
	No objects to concatenate
Training timeseries model SeasonalNaive. Training for up to 29.94s of the 29.94s of remaining time.
	Warning: Exception caused SeasonalNaive to fail during training... Skipping this model.
	No objects to concatenate
Training timeseries model Theta. Training for up to 29.93s of the 29.93s of remaining time.
	Warning: Exception caused Theta to fail during training... Skipping this model.
	No objects to concatenate
Training timeseries model AutoETS. Training for up to 29.92s of the 29.92s of remaining time.
	Warning: Exception caused AutoETS to fail during training... Skipping this model.
	No objects to concatenate
Training timeseries model RecursiveTabular. Training for up to 29.91s of the 29.91s of remaining time.
	Time series in the dataset are too short for chosen differences [24]. Setting differences to [1].
	Warning: Exception caused RecursiveTabular to fail during training... Skipping this model.
	float division by zero
Training timeseries model DeepAR. Training for up to 29.70s of the 29.70s of remaining time.
	Warning: Exception caused DeepAR to fail during training... Skipping this model.
	division by zero
Stopping training due to lack of time remaining. Time left: -0.27 seconds
Not fitting ensemble due to lack of time remaining. Time left: -0.27 seconds
Training complete. Models trained: []
Total runtime: 30.25 s
Trainer has no fit models that can predict.

In [67]:
predictions = predictor.predict(train_data, known_covariates=test_data)
predictions

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ in <module>:1                                                                                    │
│                                                                                                  │
│ ❱ 1 predictions = predictor.predict(train_data, known_covariates_names=test_data)                │
│   2 predictions                                                                                  │
│   3                                                                                              │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
TypeError: predict() got an unexpected keyword argument 'known_covariates_names'